@model MvcCvsite.Models.Entity.TblSosyalMedyalar
@{
    ViewBag.Title = "SayfaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<br />
<h4>Hesap Düzenleme İşlemleri</h4>
<br />

<form method="post">

    @Html.Label("Sosyal Medya Adı")
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    @Html.Label("Hesap Linki")
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
    @Html.Label("Sosyal İkonu")
    @Html.TextBoxFor(x => x.ikon, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>



