@model MvcCvsite.Models.Entity.TblDeneyimler

@{
    ViewBag.Title = "DeneyimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Deneyim Düzenleme İşlemleri</h4>
<br />

<form method="post">
    @Html.Label("Deneyim ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    @Html.Label("Deneyim Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    @Html.Label("Deneyim Alt Başlık")
    @Html.TextBoxFor(x => x.AltBaslik, new { @class = "form-control" })
    @Html.Label("Deneyim Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    @Html.Label("Deneyim Açıklama")
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br/>
    <button class="btn btn-info">Güncelle</button>
</form>

